:root {
  --global-font: Poppins;
  --global-font-code: Azeret Mono;
  --global-font-size: clamp(1rem, 1vw, 1rem);
  --global-spacing: 16px;
  --global-border-radius: 24px;
  --global-padding: 8px;
  --global-padding-full: 16px;
  --font-heavy: 700;
  --font-medium: 400;
  --outer-margins: var(--global-spacing);
  --inner-margins: var(--global-spacing);
  --full-padding: var(--global-spacing);
  --half-padding: calc(var(--global-spacing) / 2);
  --quarter-padding: calc(var(--global-spacing) / 4);
  --card-font-family: MedievalSharp;
}

html {
  min-width: 320px;
  overflow-x: hidden;
  overflow-y: hidden;
  /* background-color: #000000; */
  background: rgb(0,0,0);
  /* background: -moz-radial-gradient(circle, rgba(0,0,0,1) 0%, rgba(14,14,14,1) 0%, rgba(0,0,0,1) 100%);
  background: -webkit-radial-gradient(circle, rgba(0,0,0,1) 0%, rgba(14,14,14,1) 0%, rgba(0,0,0,1) 100%);
  background: radial-gradient(circle, rgba(0,0,0,1) 0%, rgba(14,14,14,1) 0%, rgba(0,0,0,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000",endColorstr="#000000",GradientType=1); */
}

body {
  min-width: 320px;
  color: #ffffff;
  margin: 0px;
  display: flex;
}

.page {
  height: calc(100vh);
  min-width: 320px;
  display: grid;
  grid-template-areas: "content content-mid content-end";
  grid-template-rows: 100%;
  /* grid-template-areas: "header header-mid header-end"
                       "content content-mid content-end"
                       "footer footer-mid footer-end"; */
  /* grid-template-rows: 48px calc(100% - 48px) 64px; */
  grid-template-columns: 1fr 1fr 1fr;
  gap: 0;
  /* margin: var(--outer-margins); */
}

.page-block {
  /* background-color: #000000; */
  border-radius: var(--global-border-radius);
}

.header {
  position: fixed;
  margin-top: 24px;
  z-index: 2000;
  flex-direction: row;
  justify-self: center;
  height: fit-content;
  border-radius: var(--global-border-radius);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
    -khtml-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

/*.header {
  grid-column-start: header;
  grid-column-end:   header-end;
  grid-row: header;
  display: flex;
  position: fixed;
  flex-direction: row;
  justify-content: center;
  font-family: var(--card-font-family);
  height: 100%;
  font-size: 2rem;
  font-weight: 500;
  letter-spacing: 4px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
   -khtml-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}*/

#spread-name {
  align-self: center;
  justify-self: center;
  text-align: center;
  cursor: pointer;
  transition: all 1s;
  font-family: MedievalSharp;
  font-size: 1.7rem;
  font-weight: 1000;
  letter-spacing: 3px;
  background-color: #00000054;
  padding: 16px 32px 16px 32px;
  border-radius: var(--global-border-radius);
  margin-left: 16px;
  margin-right: 16px;
}

#spread-name:hover {
  transition: all 1s;
  background-color: #00000054;
  box-shadow: 0px 4px 60px -20px rgba(167, 167, 167, 0.6);
}

.content {
  grid-column-start: content;
  grid-column-end:   content-end;
  grid-row: content;
  display: flex;
  flex-direction: column;
  font-family: var(--global-font);
  font-size: var(--global-font-size);
  place-content: stretch;
}

#flow_start {
  /* display: none; */
  position: fixed;
  display: flex;
  flex-direction: column;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  /* padding: var(--global-padding-full); */
  justify-content: center;
  align-items: center;
  z-index: 3000;
  background-color: #000000;
  opacity: 1;
  transition: all 1s;
}

#flow_reading {
  height: 100%;
  width: 100%;
  padding: 32px;
  overflow-y: scroll;
  max-width: 1920px;
  justify-content: center;
  align-self: center;
  flex: 1;
}

#flow_reading:last-child::after {
  content: ' ';
  width: 100%;
  padding-top: 194px
}

#flow_reading::-webkit-scrollbar {
  display: none;
}

/* .button {
  background-color: #9b42f5;
  border-radius: 40px;
  border: 0;
  padding: 12px 24px 12px 24px;
  color: white;
  font-size: var(--card-font-size);
  font-family: var(--card-font-family);
  cursor: pointer;
} */

.start-button {
  font-family: var(--card-font-family);
  font-size: 1.7rem;
  font-weight: 1000;
  text-align: center;
  padding: 16px 24px 16px 24px;
  width: fit-content;
  letter-spacing: 3px;
  border-radius: var(--global-border-radius);
  /* background-color: #00000054; */
  background-color: #00000000;
  margin: 16px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
    -khtml-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
  transition: all 1s;
}

.start-button:hover {
  transition: all 1s;
  /* background-color: #00000054; */
  background-color: #00000000;
  box-shadow: 0px 4px 60px -20px rgba(167, 167, 167, 0.6);
}

/* #flow_reading > div {
  align-self: center;
} */

.spacer {
  height: 64px;
  width: 100%;
}

.flex-row {
  display: flex;
  flex-direction: row;
  gap: 5px;
  flex-basis: content;
}

.wrap {
  flex-wrap: wrap;
}

.card {
  --card-size: 0.48;
  --card-height: clamp(calc(400px * var(--card-size)), 32vw, calc(800px * var(--card-size)));
  --card-width: calc(32px + var(--card-height) / 2);
  --card-font-size-factor: 10rem;
  --card-font-size: clamp(calc(var(--card-font-size-factor) / 16), 1.6vw, calc(var(--card-font-size-factor) / 8));
  --card-font-size-small: clamp(0.5rem, 1vw, 0.86rem);
  --card-border-radius: 16px;
  height: var(--card-height);
  width: var(--card-width);
  position: relative;
  margin: 16px;
  perspective: 1000px;
  transition: all 0.6s;
  transform: translateY(-8200px);
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
   -khtml-user-select: none; /* Konqueror HTML */
     -moz-user-select: none; /* Old versions of Firefox */
      -ms-user-select: none; /* Internet Explorer/Edge */
          user-select: none; /* Non-prefixed version, currently
                                supported by Chrome, Edge, Opera and Firefox */
}

.card-inner {
  position: relative;
  height: var(--card-height);
  width: var(--card-width);
  border-radius: var(--card-border-radius);
  transition: all 0.58s;
  transform-style: preserve-3d;
}

.card-inner.hover {
  transform: rotateY(-180deg) scale(1.26) translateZ(80px);
  /* transform: rotateY(-180deg) scale(1.2) translateZ(140px); */
}

.hover-z {
  z-index: 1000;
}

/* .card:hover .card-inner {
  transform: rotateY(-180deg) scale(1.4) translateZ(-100px);
}

.card:hover {
  z-index: 1000;
} */

.card-front {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  text-align: center;
  place-content: center;
  background-color: #ffffff;
  color: #000000;
  border-radius: var(--card-border-radius);
  padding: var(--full-padding);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  box-shadow: 0px 4px 40px -20px rgba(167, 167, 167, 0.6);
}

.card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  place-content: center;
  box-sizing: border-box;
  text-align: center;
  font-size: var(--card-font-size);
  background-color: rgb(0, 0, 0);
  background-image: url("https://i.pinimg.com/564x/aa/40/71/aa407175d55ab0a1bcc20ed6233868d9.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center;
  color: rgb(243, 210, 163);
  text-shadow: 1px 1px #b28342a3;
  border-radius: var(--card-border-radius);
  padding: var(--full-padding);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  transform: rotateY(-180deg);
  box-shadow: 0px 4px 40px -20px rgba(255, 218, 176, 0.44);
}

.card-name {
  padding: var(--quarter-padding);
  font-size: var(--card-font-size);
  font-family: var(--card-font-family);
  font-weight: var(--font-heavy);
  text-shadow: 1px 1px #b2a5936c;
}

.card-image {
  height: 100%;
}

.card-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  user-drag: none;
}

.reverse {
  transform: rotate(180deg);
}

.card-image.reverse img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform: rotate(180deg);
}

.card-meaning {
  font-family: var(--card-font-family);
  font-weight: var(--font-heavy);
  font-size: var(--card-font-size-small);
  padding: var(--full-padding);
  max-height: 75%;
  overflow: hidden;
  align-self: center;
  line-height: 1;
}

.footer {
  grid-column-start: footer;
  grid-column-end:   footer-end;
  grid-row: footer;
  font-family: var(--global-font);
  font-size: var(--global-font-size);
  padding: var(--global-padding-full);
  display: none;
}

#card-description {
  padding: var(--global-padding-full);
  margin: calc(var(--global-spacing) * 2);
  font-size: 1rem;
  font-family: var(--global-font);
  font-weight: var(--font-medium);
  position: fixed;
  bottom: 0;
  display: none;
  justify-self: center;
  text-align: justify;
  height: fit-content;
  border-radius: var(--global-border-radius);
  background-color: #0f0b11e0;
  max-width: 1400px;
  z-index: 1000;
  align-self: center;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
   -khtml-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.code {
  padding: var(--global-padding);
  justify-content: center;
}

.code-text {
  font-family: 'Azeret Mono';
  font-size: 12px;
  line-height: 1.4;
  letter-spacing: 0.2px;
}

.code-id {
  color: rgb(242, 255, 141);
}

.code-class {
  color: rgb(141, 202, 255);
}

.code-variable {
  color: rgb(141, 255, 200);
}

.code-comment {
  color: rgb(171, 255, 141);
}

.slide-in {
	transition: all 2s ease;
  animation: slide-in 3.4s ease both;
}

@keyframes slide-in {
  0% {
    transform: translateY(-1200px);
  }
  100% {
    transform: translateY(0px);
  }
}

.hide {
  /* animation: all 2.0s ease both; */
  pointer-events: none;
  opacity: 0 !important;
  transition: all 1s;
  /* display: none; */
}

/* @keyframes hide {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    display: none;
  }
} */
