:root {
  --global-font: Poppins;
  --global-font-code: Azeret Mono;
  --global-font-size: clamp(1rem, 1vw, 1rem);
  --global-spacing: 16px;
  --global-border-radius: 24px;
  --global-padding: 8px;
  --global-padding-full: 16px;
  --font-heavy: 700;
  --font-medium: 400;
  --outer-margins: var(--global-spacing);
  --inner-margins: var(--global-spacing);
  --full-padding: var(--global-spacing);
  --half-padding: calc(var(--global-spacing) / 2);
  --quarter-padding: calc(var(--global-spacing) / 4);
  --card-font-family: MedievalSharp;
  --star-color: rgb(255 255 255 / 48%);
}

html {
  min-width: 320px;
  overflow-x: hidden;
  overflow-y: hidden;
  background: rgb(0,0,0);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
   -khtml-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

body {
  min-width: 320px;
  color: #ffffff;
  margin: 0px;
  display: flex;
}

.page {
  height: calc(100vh);
  min-width: 320px;
  display: grid;
  grid-template-areas: "content content-mid content-end";
  grid-template-rows: 100%;
  /* grid-template-areas: "header header-mid header-end"
                       "content content-mid content-end"
                       "footer footer-mid footer-end"; */
  /* grid-template-rows: 48px calc(100% - 48px) 64px; */
  grid-template-columns: 1fr 1fr 1fr;
  gap: 0;
  /* margin: var(--outer-margins); */
}

.page-block {
  /* background-color: #000000; */
  border-radius: var(--global-border-radius);
}

.header {
  width: 100%;
  position: fixed;
  display: flex;
  justify-content: center;
  margin-top: 24px;
  z-index: 2000;
  flex-direction: row;
  justify-self: center;
  height: fit-content;
  border-radius: var(--global-border-radius);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
    -khtml-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

/*.header {
  grid-column-start: header;
  grid-column-end:   header-end;
  grid-row: header;
  display: flex;
  position: fixed;
  flex-direction: row;
  justify-content: center;
  font-family: var(--card-font-family);
  height: 100%;
  font-size: 2rem;
  font-weight: 500;
  letter-spacing: 4px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
   -khtml-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}*/

#spread-name {
  align-self: center;
  justify-self: center;
  text-align: center;
  cursor: pointer;
  transition: all 1s;
  font-family: MedievalSharp;
  font-size: 1.7rem;
  font-weight: 1000;
  letter-spacing: 3px;
  background-color: #00000054;
  padding: 16px 32px 16px 32px;
  border-radius: var(--global-border-radius);
  margin-left: 16px;
  margin-right: 16px;
  width: fit-content;
}

#spread-name:hover {
  transition: all 1s;
  background-color: #000000;
  box-shadow: 0px 4px 60px -20px rgba(167, 167, 167, 0.6);
}

.content {
  grid-column-start: content;
  grid-column-end:   content-end;
  grid-row: content;
  display: flex;
  flex-direction: column;
  font-family: var(--global-font);
  font-size: var(--global-font-size);
  place-content: stretch;
}

#flow_start {
  /* display: none; */
  position: fixed;
  display: flex;
  flex-direction: column;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  /* padding: var(--global-padding-full); */
  justify-content: center;
  align-items: center;
  z-index: 3000;
  background-color: #00000070;
  opacity: 1;
  transition: all 1s;
}

#logo p {
  display: none;
}

#logo img {
  border-radius: 24px;
  box-shadow: 0px 4px 60px -20px rgba(255, 176, 242, 0.6);
  transition: all 0.58s;
  cursor: pointer;
  margin-bottom: -32px;
}

#logo img:hover {
  border-radius: 24px;
  box-shadow: 0px 4px 80px -20px rgba(255, 231, 251, 0.8);
}

#welcome {
  font-family: var(--card-font-family);
  font-size: 3rem;
  font-weight: 1000;
  margin-bottom: 64px;
}

#flow_reading {
  height: 100%;
  width: 100%;
  padding: 32px;
  overflow-y: scroll;
  max-width: 1920px;
  justify-content: center;
  align-self: center;
  flex: 1;
}

#flow_reading:last-child::after {
  content: ' ';
  width: 100%;
  padding-top: 194px
}

#flow_reading::-webkit-scrollbar {
  display: none;
}

/* .button {
  background-color: #9b42f5;
  border-radius: 40px;
  border: 0;
  padding: 12px 24px 12px 24px;
  color: white;
  font-size: var(--card-font-size);
  font-family: var(--card-font-family);
  cursor: pointer;
} */

.start-button {
  font-family: var(--card-font-family);
  font-size: 1.7rem;
  font-weight: 1000;
  text-align: center;
  padding: 16px 24px 16px 24px;
  width: fit-content;
  letter-spacing: 3px;
  border-radius: var(--global-border-radius);
  /* background-color: #00000054; */
  background-color: #00000000;
  margin: 4px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
    -khtml-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
  transition: all 1s;
}

.start-button:hover {
  transition: all 1s;
  /* background-color: #00000054; */
  background-color: #000000;
  box-shadow: 0px 4px 60px -20px rgba(167, 167, 167, 0.6);
}

/* #flow_reading > div {
  align-self: center;
} */

.spacer {
  height: 64px;
  width: 100%;
}

.flex-row {
  display: flex;
  flex-direction: row;
  gap: 5px;
  flex-basis: content;
}

.wrap {
  flex-wrap: wrap;
}

.card {
  --card-size: 0.48;
  --card-height: clamp(calc(400px * var(--card-size)), 32vw, calc(800px * var(--card-size)));
  --card-width: calc(32px + var(--card-height) / 2);
  --card-font-size-factor: 10rem;
  --card-font-size: clamp(calc(var(--card-font-size-factor) / 16), 1.6vw, calc(var(--card-font-size-factor) / 8));
  --card-font-size-small: clamp(0.5rem, 1vw, 0.86rem);
  --card-border-radius: 16px;
  height: var(--card-height);
  width: var(--card-width);
  position: relative;
  margin: 16px;
  perspective: 1000px;
  transition: all 0.6s;
  cursor: pointer;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
   -khtml-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.card-inner {
  position: relative;
  height: var(--card-height);
  width: var(--card-width);
  border-radius: var(--card-border-radius);
  transition: all 0.58s;
  transform-style: preserve-3d;
}

.card-inner.hover {
  transform: rotateY(-4deg) rotateX(6deg) scale(1.2) translateY(4px) translateZ(80px);
  /* transform: rotateY(-180deg) rotateX(0deg) scale(1.26) translateZ(80px); */
}

/* .card-inner:active {
  transition: all 2s cubic-bezier(0.11, 1.01, 0, 1);
  transform: rotateY(-180deg) rotateX(0deg) scale(1.36) translateY(32px) translateZ(-200px);
} */

.card-inner.hover.active {
  transition: all 2s cubic-bezier(0.11, 1.01, 0, 1);
  transform: rotateY(-180deg) rotateX(0deg) scale(1.36) translateY(32px) translateZ(-200px);
}

.hover-z {
  z-index: 1000;
}

/* .card:hover .card-inner {
  transform: rotateY(-180deg) scale(1.4) translateZ(-100px);
}

.card:hover {
  z-index: 1000;
} */

.card-front {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  text-align: center;
  place-content: center;
  background-color: #ffffff;
  color: #000000;
  border-radius: var(--card-border-radius);
  padding: var(--full-padding);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  box-shadow: 0px 4px 40px -20px rgba(167, 167, 167, 0.6);
}

.card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  place-content: center;
  box-sizing: border-box;
  text-align: center;
  font-size: var(--card-font-size);
  background-color: rgb(0, 0, 0);
  background-image: url("https://i.pinimg.com/564x/aa/40/71/aa407175d55ab0a1bcc20ed6233868d9.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center;
  color: rgb(243, 210, 163);
  text-shadow: 1px 1px #b28342a3;
  border-radius: var(--card-border-radius);
  padding: var(--full-padding);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  transform: rotateY(-180deg);
  box-shadow: 0px 4px 40px -20px rgba(255, 218, 176, 0.44);
}

.card-name {
  padding: var(--quarter-padding);
  font-size: var(--card-font-size);
  font-family: var(--card-font-family);
  font-weight: var(--font-heavy);
  text-shadow: 1px 1px #b2a5936c;
}

.card-image {
  height: 100%;
}

.card-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  user-drag: none;
}

.reverse {
  transform: rotate(180deg);
}

.card-image.reverse img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform: rotate(180deg);
}

.card-meaning {
  font-family: var(--card-font-family);
  font-weight: var(--font-heavy);
  font-size: var(--card-font-size-small);
  padding: var(--full-padding);
  max-height: 75%;
  overflow: hidden;
  align-self: center;
  line-height: 1;
}

.footer {
  grid-column-start: footer;
  grid-column-end:   footer-end;
  grid-row: footer;
  font-family: var(--global-font);
  font-size: var(--global-font-size);
  padding: var(--global-padding-full);
  display: none;
}

#bottom-container {
  display: flex;
  position: fixed;
  place-content: center;
  width: 100%;
}

#card-description {
  display: none;
  padding: var(--global-padding-full);
  margin: calc(var(--global-spacing) * 2);
  font-size: 1rem;
  font-family: var(--global-font);
  font-weight: var(--font-medium);
  position: fixed;
  bottom: 0;
  justify-self: center;
  text-align: justify;
  height: fit-content;
  border-radius: var(--global-border-radius);
  background-color: #0f0b11e0;
  max-width: 1400px;
  z-index: 1000;
  align-self: center;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
   -khtml-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.code {
  padding: var(--global-padding);
  justify-content: center;
}

.code-text {
  font-family: 'Azeret Mono';
  font-size: 12px;
  line-height: 1.4;
  letter-spacing: 0.2px;
}

.code-id {
  color: rgb(242, 255, 141);
}

.code-class {
  color: rgb(141, 202, 255);
}

.code-variable {
  color: rgb(141, 255, 200);
}

.code-comment {
  color: rgb(171, 255, 141);
}

.slide-in {
	transition: all 2s ease;
  animation: slide-in 3.4s ease both;
}

@keyframes slide-in {
  0% {
    transform: translateY(-1200px);
  }
  100% {
    transform: translateY(0px);
  }
}

.hide {
  pointer-events: none;
  opacity: 0 !important;
  transition: all 1s;
}

#stars {
  z-index: -1000;
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: 97px 75px var(--star-color) , 893px 268px var(--star-color) , 1819px 666px var(--star-color) , 366px 1985px var(--star-color) , 1736px 1062px var(--star-color) , 1124px 45px var(--star-color) , 905px 1674px var(--star-color) , 1570px 711px var(--star-color) , 255px 1747px var(--star-color) , 147px 1032px var(--star-color) , 865px 1813px var(--star-color) , 1721px 1461px var(--star-color) , 202px 724px var(--star-color) , 1860px 812px var(--star-color) , 634px 1410px var(--star-color) , 927px 1264px var(--star-color) , 1648px 620px var(--star-color) , 1915px 1309px var(--star-color) , 731px 778px var(--star-color) , 91px 1185px var(--star-color) , 829px 1003px var(--star-color) , 174px 1784px var(--star-color) , 1094px 1874px var(--star-color) , 1464px 484px var(--star-color) , 1639px 1717px var(--star-color) , 959px 573px var(--star-color) , 1686px 1287px var(--star-color) , 906px 356px var(--star-color) , 970px 499px var(--star-color) , 626px 890px var(--star-color) , 1344px 1070px var(--star-color) , 1351px 544px var(--star-color) , 708px 68px var(--star-color) , 1870px 130px var(--star-color) , 556px 1270px var(--star-color) , 1432px 618px var(--star-color) , 769px 673px var(--star-color) , 1289px 1410px var(--star-color) , 1499px 1969px var(--star-color) , 749px 1163px var(--star-color) , 1198px 198px var(--star-color) , 399px 133px var(--star-color) , 1856px 1280px var(--star-color) , 904px 194px var(--star-color) , 973px 1107px var(--star-color) , 1371px 1785px var(--star-color) , 989px 1835px var(--star-color) , 1043px 1517px var(--star-color) , 787px 916px var(--star-color) , 1635px 1155px var(--star-color) , 752px 524px var(--star-color) , 1926px 1279px var(--star-color) , 1052px 1163px var(--star-color) , 719px 1963px var(--star-color) , 786px 519px var(--star-color) , 1440px 500px var(--star-color) , 156px 1265px var(--star-color) , 1691px 429px var(--star-color) , 1349px 1474px var(--star-color) , 736px 459px var(--star-color) , 248px 1678px var(--star-color) , 1136px 510px var(--star-color) , 1317px 10px var(--star-color) , 1209px 1323px var(--star-color) , 54px 469px var(--star-color) , 730px 1939px var(--star-color) , 960px 23px var(--star-color) , 112px 941px var(--star-color) , 1852px 1522px var(--star-color) , 1993px 1972px var(--star-color) , 265px 129px var(--star-color) , 222px 1897px var(--star-color) , 1766px 1804px var(--star-color) , 1530px 1786px var(--star-color) , 1045px 432px var(--star-color) , 1916px 1980px var(--star-color) , 309px 1780px var(--star-color) , 1420px 559px var(--star-color) , 1708px 103px var(--star-color) , 324px 1407px var(--star-color) , 1175px 943px var(--star-color) , 80px 1221px var(--star-color) , 1016px 1933px var(--star-color) , 318px 560px var(--star-color) , 190px 1489px var(--star-color) , 1095px 892px var(--star-color) , 1975px 1191px var(--star-color) , 1197px 955px var(--star-color) , 1482px 873px var(--star-color) , 1912px 300px var(--star-color) , 2000px 1636px var(--star-color) , 1473px 1808px var(--star-color) , 507px 192px var(--star-color) , 924px 1300px var(--star-color) , 1485px 1636px var(--star-color) , 41px 1822px var(--star-color) , 689px 120px var(--star-color) , 769px 273px var(--star-color) , 1039px 976px var(--star-color) , 1057px 1520px var(--star-color) , 1417px 1187px var(--star-color) , 512px 1507px var(--star-color) , 519px 45px var(--star-color) , 1207px 1687px var(--star-color) , 1824px 1488px var(--star-color) , 1694px 31px var(--star-color) , 1859px 52px var(--star-color) , 1368px 268px var(--star-color) , 190px 1404px var(--star-color) , 940px 1003px var(--star-color) , 167px 942px var(--star-color) , 1641px 647px var(--star-color) , 1051px 654px var(--star-color) , 233px 1640px var(--star-color) , 554px 511px var(--star-color) , 1705px 1866px var(--star-color) , 240px 1430px var(--star-color) , 140px 668px var(--star-color) , 648px 1617px var(--star-color) , 252px 101px var(--star-color) , 676px 1774px var(--star-color) , 889px 1698px var(--star-color) , 595px 853px var(--star-color) , 249px 1768px var(--star-color) , 1091px 1529px var(--star-color) , 223px 839px var(--star-color) , 239px 699px var(--star-color) , 1547px 356px var(--star-color) , 249px 1130px var(--star-color) , 1209px 1946px var(--star-color) , 1967px 1274px var(--star-color) , 430px 298px var(--star-color) , 1305px 134px var(--star-color) , 156px 91px var(--star-color) , 1712px 264px var(--star-color) , 1256px 991px var(--star-color) , 1887px 1844px var(--star-color) , 1957px 1275px var(--star-color) , 1718px 666px var(--star-color) , 1090px 543px var(--star-color) , 933px 1411px var(--star-color) , 801px 323px var(--star-color) , 202px 1659px var(--star-color) , 1117px 549px var(--star-color) , 290px 1859px var(--star-color) , 1380px 1516px var(--star-color) , 557px 1165px var(--star-color) , 1953px 1758px var(--star-color) , 1901px 1407px var(--star-color) , 1144px 347px var(--star-color) , 1640px 271px var(--star-color) , 1996px 43px var(--star-color) , 838px 488px var(--star-color) , 1151px 1529px var(--star-color) , 306px 460px var(--star-color) , 1666px 635px var(--star-color) , 1572px 633px var(--star-color) , 1797px 1076px var(--star-color) , 1727px 1119px var(--star-color) , 474px 871px var(--star-color) , 1491px 1398px var(--star-color) , 1301px 868px var(--star-color) , 1632px 454px var(--star-color) , 1611px 466px var(--star-color) , 498px 1162px var(--star-color) , 796px 269px var(--star-color) , 1988px 747px var(--star-color) , 502px 12px var(--star-color) , 276px 1260px var(--star-color) , 1536px 974px var(--star-color) , 956px 656px var(--star-color) , 107px 701px var(--star-color) , 965px 491px var(--star-color) , 1646px 247px var(--star-color) , 1515px 921px var(--star-color) , 1813px 519px var(--star-color) , 697px 143px var(--star-color) , 591px 1452px var(--star-color) , 1773px 1411px var(--star-color) , 1622px 1401px var(--star-color) , 534px 340px var(--star-color) , 1590px 284px var(--star-color) , 1464px 528px var(--star-color) , 734px 1718px var(--star-color) , 1929px 1683px var(--star-color) , 656px 480px var(--star-color) , 833px 705px var(--star-color) , 1567px 109px var(--star-color) , 1055px 330px var(--star-color) , 1943px 1367px var(--star-color) , 1935px 1512px var(--star-color) , 355px 1024px var(--star-color) , 1894px 218px var(--star-color) , 1703px 1772px var(--star-color) , 781px 1394px var(--star-color) , 367px 42px var(--star-color) , 100px 690px var(--star-color) , 1831px 458px var(--star-color) , 1884px 1878px var(--star-color) , 814px 1013px var(--star-color);
  animation: animStar 225s linear infinite;
}
#stars:after {
  z-index: -1000;
  content: " ";
  position: absolute;
  top: 1000px;
  width: 2px;
  height: 2px;
  background: transparent;  
  box-shadow: 97px 75px var(--star-color) , 893px 268px var(--star-color) , 1819px 666px var(--star-color) , 366px 1985px var(--star-color) , 1736px 1062px var(--star-color) , 1124px 45px var(--star-color) , 905px 1674px var(--star-color) , 1570px 711px var(--star-color) , 255px 1747px var(--star-color) , 147px 1032px var(--star-color) , 865px 1813px var(--star-color) , 1721px 1461px var(--star-color) , 202px 724px var(--star-color) , 1860px 812px var(--star-color) , 634px 1410px var(--star-color) , 927px 1264px var(--star-color) , 1648px 620px var(--star-color) , 1915px 1309px var(--star-color) , 731px 778px var(--star-color) , 91px 1185px var(--star-color) , 829px 1003px var(--star-color) , 174px 1784px var(--star-color) , 1094px 1874px var(--star-color) , 1464px 484px var(--star-color) , 1639px 1717px var(--star-color) , 959px 573px var(--star-color) , 1686px 1287px var(--star-color) , 906px 356px var(--star-color) , 970px 499px var(--star-color) , 626px 890px var(--star-color) , 1344px 1070px var(--star-color) , 1351px 544px var(--star-color) , 708px 68px var(--star-color) , 1870px 130px var(--star-color) , 556px 1270px var(--star-color) , 1432px 618px var(--star-color) , 769px 673px var(--star-color) , 1289px 1410px var(--star-color) , 1499px 1969px var(--star-color) , 749px 1163px var(--star-color) , 1198px 198px var(--star-color) , 399px 133px var(--star-color) , 1856px 1280px var(--star-color) , 904px 194px var(--star-color) , 973px 1107px var(--star-color) , 1371px 1785px var(--star-color) , 989px 1835px var(--star-color) , 1043px 1517px var(--star-color) , 787px 916px var(--star-color) , 1635px 1155px var(--star-color) , 752px 524px var(--star-color) , 1926px 1279px var(--star-color) , 1052px 1163px var(--star-color) , 719px 1963px var(--star-color) , 786px 519px var(--star-color) , 1440px 500px var(--star-color) , 156px 1265px var(--star-color) , 1691px 429px var(--star-color) , 1349px 1474px var(--star-color) , 736px 459px var(--star-color) , 248px 1678px var(--star-color) , 1136px 510px var(--star-color) , 1317px 10px var(--star-color) , 1209px 1323px var(--star-color) , 54px 469px var(--star-color) , 730px 1939px var(--star-color) , 960px 23px var(--star-color) , 112px 941px var(--star-color) , 1852px 1522px var(--star-color) , 1993px 1972px var(--star-color) , 265px 129px var(--star-color) , 222px 1897px var(--star-color) , 1766px 1804px var(--star-color) , 1530px 1786px var(--star-color) , 1045px 432px var(--star-color) , 1916px 1980px var(--star-color) , 309px 1780px var(--star-color) , 1420px 559px var(--star-color) , 1708px 103px var(--star-color) , 324px 1407px var(--star-color) , 1175px 943px var(--star-color) , 80px 1221px var(--star-color) , 1016px 1933px var(--star-color) , 318px 560px var(--star-color) , 190px 1489px var(--star-color) , 1095px 892px var(--star-color) , 1975px 1191px var(--star-color) , 1197px 955px var(--star-color) , 1482px 873px var(--star-color) , 1912px 300px var(--star-color) , 2000px 1636px var(--star-color) , 1473px 1808px var(--star-color) , 507px 192px var(--star-color) , 924px 1300px var(--star-color) , 1485px 1636px var(--star-color) , 41px 1822px var(--star-color) , 689px 120px var(--star-color) , 769px 273px var(--star-color) , 1039px 976px var(--star-color) , 1057px 1520px var(--star-color) , 1417px 1187px var(--star-color) , 512px 1507px var(--star-color) , 519px 45px var(--star-color) , 1207px 1687px var(--star-color) , 1824px 1488px var(--star-color) , 1694px 31px var(--star-color) , 1859px 52px var(--star-color) , 1368px 268px var(--star-color) , 190px 1404px var(--star-color) , 940px 1003px var(--star-color) , 167px 942px var(--star-color) , 1641px 647px var(--star-color) , 1051px 654px var(--star-color) , 233px 1640px var(--star-color) , 554px 511px var(--star-color) , 1705px 1866px var(--star-color) , 240px 1430px var(--star-color) , 140px 668px var(--star-color) , 648px 1617px var(--star-color) , 252px 101px var(--star-color) , 676px 1774px var(--star-color) , 889px 1698px var(--star-color) , 595px 853px var(--star-color) , 249px 1768px var(--star-color) , 1091px 1529px var(--star-color) , 223px 839px var(--star-color) , 239px 699px var(--star-color) , 1547px 356px var(--star-color) , 249px 1130px var(--star-color) , 1209px 1946px var(--star-color) , 1967px 1274px var(--star-color) , 430px 298px var(--star-color) , 1305px 134px var(--star-color) , 156px 91px var(--star-color) , 1712px 264px var(--star-color) , 1256px 991px var(--star-color) , 1887px 1844px var(--star-color) , 1957px 1275px var(--star-color) , 1718px 666px var(--star-color) , 1090px 543px var(--star-color) , 933px 1411px var(--star-color) , 801px 323px var(--star-color) , 202px 1659px var(--star-color) , 1117px 549px var(--star-color) , 290px 1859px var(--star-color) , 1380px 1516px var(--star-color) , 557px 1165px var(--star-color) , 1953px 1758px var(--star-color) , 1901px 1407px var(--star-color) , 1144px 347px var(--star-color) , 1640px 271px var(--star-color) , 1996px 43px var(--star-color) , 838px 488px var(--star-color) , 1151px 1529px var(--star-color) , 306px 460px var(--star-color) , 1666px 635px var(--star-color) , 1572px 633px var(--star-color) , 1797px 1076px var(--star-color) , 1727px 1119px var(--star-color) , 474px 871px var(--star-color) , 1491px 1398px var(--star-color) , 1301px 868px var(--star-color) , 1632px 454px var(--star-color) , 1611px 466px var(--star-color) , 498px 1162px var(--star-color) , 796px 269px var(--star-color) , 1988px 747px var(--star-color) , 502px 12px var(--star-color) , 276px 1260px var(--star-color) , 1536px 974px var(--star-color) , 956px 656px var(--star-color) , 107px 701px var(--star-color) , 965px 491px var(--star-color) , 1646px 247px var(--star-color) , 1515px 921px var(--star-color) , 1813px 519px var(--star-color) , 697px 143px var(--star-color) , 591px 1452px var(--star-color) , 1773px 1411px var(--star-color) , 1622px 1401px var(--star-color) , 534px 340px var(--star-color) , 1590px 284px var(--star-color) , 1464px 528px var(--star-color) , 734px 1718px var(--star-color) , 1929px 1683px var(--star-color) , 656px 480px var(--star-color) , 833px 705px var(--star-color) , 1567px 109px var(--star-color) , 1055px 330px var(--star-color) , 1943px 1367px var(--star-color) , 1935px 1512px var(--star-color) , 355px 1024px var(--star-color) , 1894px 218px var(--star-color) , 1703px 1772px var(--star-color) , 781px 1394px var(--star-color) , 367px 42px var(--star-color) , 100px 690px var(--star-color) , 1831px 458px var(--star-color) , 1884px 1878px var(--star-color) , 814px 1013px var(--star-color);
}

#stars2 {
  z-index: -1000;
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: 1907px 1575px var(--star-color) , 893px 268px var(--star-color) , 1819px 666px var(--star-color) , 366px 1985px var(--star-color) , 1736px 1062px var(--star-color) , 1124px 45px var(--star-color) , 905px 1674px var(--star-color) , 1570px 711px var(--star-color) , 255px 1747px var(--star-color) , 147px 1032px var(--star-color) , 865px 1813px var(--star-color) , 1721px 1461px var(--star-color) , 202px 724px var(--star-color) , 1860px 812px var(--star-color) , 634px 1410px var(--star-color) , 927px 1264px var(--star-color) , 1648px 620px var(--star-color) , 1915px 1309px var(--star-color) , 731px 778px var(--star-color) , 91px 1185px var(--star-color) , 829px 1003px var(--star-color) , 174px 1784px var(--star-color) , 1094px 1874px var(--star-color) , 1464px 484px var(--star-color) , 1639px 1717px var(--star-color) , 959px 573px var(--star-color) , 1686px 1287px var(--star-color) , 906px 356px var(--star-color) , 970px 499px var(--star-color) , 626px 890px var(--star-color) , 1344px 1070px var(--star-color) , 1351px 544px var(--star-color) , 708px 68px var(--star-color) , 1870px 130px var(--star-color) , 556px 1270px var(--star-color) , 1432px 618px var(--star-color) , 769px 673px var(--star-color) , 1289px 1410px var(--star-color) , 1499px 1969px var(--star-color) , 749px 1163px var(--star-color) , 1198px 198px var(--star-color) , 399px 133px var(--star-color) , 1856px 1280px var(--star-color) , 904px 194px var(--star-color) , 973px 1107px var(--star-color) , 1371px 1785px var(--star-color) , 989px 1835px var(--star-color) , 1043px 1517px var(--star-color) , 787px 916px var(--star-color) , 1635px 1155px var(--star-color) , 752px 524px var(--star-color) , 1926px 1279px var(--star-color) , 1052px 1163px var(--star-color) , 719px 1963px var(--star-color) , 786px 519px var(--star-color) , 1440px 500px var(--star-color) , 156px 1265px var(--star-color) , 1691px 429px var(--star-color) , 1349px 1474px var(--star-color) , 736px 459px var(--star-color) , 248px 1678px var(--star-color) , 1136px 510px var(--star-color) , 1317px 10px var(--star-color) , 1209px 1323px var(--star-color) , 54px 469px var(--star-color) , 730px 1939px var(--star-color) , 960px 23px var(--star-color) , 112px 941px var(--star-color) , 1852px 1522px var(--star-color) , 1993px 1972px var(--star-color) , 265px 129px var(--star-color) , 222px 1897px var(--star-color) , 1766px 1804px var(--star-color) , 1530px 1786px var(--star-color) , 1045px 432px var(--star-color) , 1916px 1980px var(--star-color) , 309px 1780px var(--star-color) , 1420px 559px var(--star-color) , 1708px 103px var(--star-color) , 324px 1407px var(--star-color) , 1175px 943px var(--star-color) , 80px 1221px var(--star-color) , 1016px 1933px var(--star-color) , 318px 560px var(--star-color) , 190px 1489px var(--star-color) , 1095px 892px var(--star-color) , 1975px 1191px var(--star-color) , 1197px 955px var(--star-color) , 1482px 873px var(--star-color) , 1912px 300px var(--star-color) , 2000px 1636px var(--star-color) , 1473px 1808px var(--star-color) , 507px 192px var(--star-color) , 924px 1300px var(--star-color) , 1485px 1636px var(--star-color) , 41px 1822px var(--star-color) , 689px 120px var(--star-color) , 769px 273px var(--star-color) , 1039px 976px var(--star-color) , 1057px 1520px var(--star-color) , 1417px 1187px var(--star-color) , 512px 1507px var(--star-color) , 519px 45px var(--star-color) , 1207px 1687px var(--star-color) , 1824px 1488px var(--star-color) , 1694px 31px var(--star-color) , 1859px 52px var(--star-color) , 1368px 268px var(--star-color) , 190px 1404px var(--star-color) , 940px 1003px var(--star-color) , 167px 942px var(--star-color) , 1641px 647px var(--star-color) , 1051px 654px var(--star-color) , 233px 1640px var(--star-color) , 554px 511px var(--star-color) , 1705px 1866px var(--star-color) , 240px 1430px var(--star-color) , 140px 668px var(--star-color) , 648px 1617px var(--star-color) , 252px 101px var(--star-color) , 676px 1774px var(--star-color) , 889px 1698px var(--star-color) , 595px 853px var(--star-color) , 249px 1768px var(--star-color) , 1091px 1529px var(--star-color) , 223px 839px var(--star-color) , 239px 699px var(--star-color) , 1547px 356px var(--star-color) , 249px 1130px var(--star-color) , 1209px 1946px var(--star-color) , 1967px 1274px var(--star-color) , 430px 298px var(--star-color) , 1305px 134px var(--star-color) , 156px 91px var(--star-color) , 1712px 264px var(--star-color) , 1256px 991px var(--star-color) , 1887px 1844px var(--star-color) , 1957px 1275px var(--star-color) , 1718px 666px var(--star-color) , 1090px 543px var(--star-color) , 933px 1411px var(--star-color) , 801px 323px var(--star-color) , 202px 1659px var(--star-color) , 1117px 549px var(--star-color) , 290px 1859px var(--star-color) , 1380px 1516px var(--star-color) , 557px 1165px var(--star-color) , 1953px 1758px var(--star-color) , 1901px 1407px var(--star-color) , 1144px 347px var(--star-color) , 1640px 271px var(--star-color) , 1996px 43px var(--star-color) , 838px 488px var(--star-color) , 1151px 1529px var(--star-color) , 306px 460px var(--star-color) , 1666px 635px var(--star-color) , 1572px 633px var(--star-color) , 1797px 1076px var(--star-color) , 1727px 1119px var(--star-color) , 474px 871px var(--star-color) , 1491px 1398px var(--star-color) , 1301px 868px var(--star-color) , 1632px 454px var(--star-color) , 1611px 466px var(--star-color) , 498px 1162px var(--star-color) , 796px 269px var(--star-color) , 1988px 747px var(--star-color) , 502px 12px var(--star-color) , 276px 1260px var(--star-color) , 1536px 974px var(--star-color) , 956px 656px var(--star-color) , 107px 701px var(--star-color) , 965px 491px var(--star-color) , 1646px 247px var(--star-color) , 1515px 921px var(--star-color) , 1813px 519px var(--star-color) , 697px 143px var(--star-color) , 591px 1452px var(--star-color) , 1773px 1411px var(--star-color) , 1622px 1401px var(--star-color) , 534px 340px var(--star-color) , 1590px 284px var(--star-color) , 1464px 528px var(--star-color) , 734px 1718px var(--star-color) , 1929px 1683px var(--star-color) , 656px 480px var(--star-color) , 833px 705px var(--star-color) , 1567px 109px var(--star-color) , 1055px 330px var(--star-color) , 1943px 1367px var(--star-color) , 1935px 1512px var(--star-color) , 355px 1024px var(--star-color) , 1894px 218px var(--star-color) , 1703px 1772px var(--star-color) , 781px 1394px var(--star-color) , 367px 42px var(--star-color) , 100px 690px var(--star-color) , 1831px 458px var(--star-color) , 1884px 1878px var(--star-color) , 814px 1013px var(--star-color);
  animation: animStar 200s linear infinite;
}
#stars2:after {
  z-index: -1000;
  content: " ";
  position: absolute;
  top: 1000px;
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: 1907px 1575px var(--star-color) , 893px 268px var(--star-color) , 1819px 666px var(--star-color) , 366px 1985px var(--star-color) , 1736px 1062px var(--star-color) , 1124px 45px var(--star-color) , 905px 1674px var(--star-color) , 1570px 711px var(--star-color) , 255px 1747px var(--star-color) , 147px 1032px var(--star-color) , 865px 1813px var(--star-color) , 1721px 1461px var(--star-color) , 202px 724px var(--star-color) , 1860px 812px var(--star-color) , 634px 1410px var(--star-color) , 927px 1264px var(--star-color) , 1648px 620px var(--star-color) , 1915px 1309px var(--star-color) , 731px 778px var(--star-color) , 91px 1185px var(--star-color) , 829px 1003px var(--star-color) , 174px 1784px var(--star-color) , 1094px 1874px var(--star-color) , 1464px 484px var(--star-color) , 1639px 1717px var(--star-color) , 959px 573px var(--star-color) , 1686px 1287px var(--star-color) , 906px 356px var(--star-color) , 970px 499px var(--star-color) , 626px 890px var(--star-color) , 1344px 1070px var(--star-color) , 1351px 544px var(--star-color) , 708px 68px var(--star-color) , 1870px 130px var(--star-color) , 556px 1270px var(--star-color) , 1432px 618px var(--star-color) , 769px 673px var(--star-color) , 1289px 1410px var(--star-color) , 1499px 1969px var(--star-color) , 749px 1163px var(--star-color) , 1198px 198px var(--star-color) , 399px 133px var(--star-color) , 1856px 1280px var(--star-color) , 904px 194px var(--star-color) , 973px 1107px var(--star-color) , 1371px 1785px var(--star-color) , 989px 1835px var(--star-color) , 1043px 1517px var(--star-color) , 787px 916px var(--star-color) , 1635px 1155px var(--star-color) , 752px 524px var(--star-color) , 1926px 1279px var(--star-color) , 1052px 1163px var(--star-color) , 719px 1963px var(--star-color) , 786px 519px var(--star-color) , 1440px 500px var(--star-color) , 156px 1265px var(--star-color) , 1691px 429px var(--star-color) , 1349px 1474px var(--star-color) , 736px 459px var(--star-color) , 248px 1678px var(--star-color) , 1136px 510px var(--star-color) , 1317px 10px var(--star-color) , 1209px 1323px var(--star-color) , 54px 469px var(--star-color) , 730px 1939px var(--star-color) , 960px 23px var(--star-color) , 112px 941px var(--star-color) , 1852px 1522px var(--star-color) , 1993px 1972px var(--star-color) , 265px 129px var(--star-color) , 222px 1897px var(--star-color) , 1766px 1804px var(--star-color) , 1530px 1786px var(--star-color) , 1045px 432px var(--star-color) , 1916px 1980px var(--star-color) , 309px 1780px var(--star-color) , 1420px 559px var(--star-color) , 1708px 103px var(--star-color) , 324px 1407px var(--star-color) , 1175px 943px var(--star-color) , 80px 1221px var(--star-color) , 1016px 1933px var(--star-color) , 318px 560px var(--star-color) , 190px 1489px var(--star-color) , 1095px 892px var(--star-color) , 1975px 1191px var(--star-color) , 1197px 955px var(--star-color) , 1482px 873px var(--star-color) , 1912px 300px var(--star-color) , 2000px 1636px var(--star-color) , 1473px 1808px var(--star-color) , 507px 192px var(--star-color) , 924px 1300px var(--star-color) , 1485px 1636px var(--star-color) , 41px 1822px var(--star-color) , 689px 120px var(--star-color) , 769px 273px var(--star-color) , 1039px 976px var(--star-color) , 1057px 1520px var(--star-color) , 1417px 1187px var(--star-color) , 512px 1507px var(--star-color) , 519px 45px var(--star-color) , 1207px 1687px var(--star-color) , 1824px 1488px var(--star-color) , 1694px 31px var(--star-color) , 1859px 52px var(--star-color) , 1368px 268px var(--star-color) , 190px 1404px var(--star-color) , 940px 1003px var(--star-color) , 167px 942px var(--star-color) , 1641px 647px var(--star-color) , 1051px 654px var(--star-color) , 233px 1640px var(--star-color) , 554px 511px var(--star-color) , 1705px 1866px var(--star-color) , 240px 1430px var(--star-color) , 140px 668px var(--star-color) , 648px 1617px var(--star-color) , 252px 101px var(--star-color) , 676px 1774px var(--star-color) , 889px 1698px var(--star-color) , 595px 853px var(--star-color) , 249px 1768px var(--star-color) , 1091px 1529px var(--star-color) , 223px 839px var(--star-color) , 239px 699px var(--star-color) , 1547px 356px var(--star-color) , 249px 1130px var(--star-color) , 1209px 1946px var(--star-color) , 1967px 1274px var(--star-color) , 430px 298px var(--star-color) , 1305px 134px var(--star-color) , 156px 91px var(--star-color) , 1712px 264px var(--star-color) , 1256px 991px var(--star-color) , 1887px 1844px var(--star-color) , 1957px 1275px var(--star-color) , 1718px 666px var(--star-color) , 1090px 543px var(--star-color) , 933px 1411px var(--star-color) , 801px 323px var(--star-color) , 202px 1659px var(--star-color) , 1117px 549px var(--star-color) , 290px 1859px var(--star-color) , 1380px 1516px var(--star-color) , 557px 1165px var(--star-color) , 1953px 1758px var(--star-color) , 1901px 1407px var(--star-color) , 1144px 347px var(--star-color) , 1640px 271px var(--star-color) , 1996px 43px var(--star-color) , 838px 488px var(--star-color) , 1151px 1529px var(--star-color) , 306px 460px var(--star-color) , 1666px 635px var(--star-color) , 1572px 633px var(--star-color) , 1797px 1076px var(--star-color) , 1727px 1119px var(--star-color) , 474px 871px var(--star-color) , 1491px 1398px var(--star-color) , 1301px 868px var(--star-color) , 1632px 454px var(--star-color) , 1611px 466px var(--star-color) , 498px 1162px var(--star-color) , 796px 269px var(--star-color) , 1988px 747px var(--star-color) , 502px 12px var(--star-color) , 276px 1260px var(--star-color) , 1536px 974px var(--star-color) , 956px 656px var(--star-color) , 107px 701px var(--star-color) , 965px 491px var(--star-color) , 1646px 247px var(--star-color) , 1515px 921px var(--star-color) , 1813px 519px var(--star-color) , 697px 143px var(--star-color) , 591px 1452px var(--star-color) , 1773px 1411px var(--star-color) , 1622px 1401px var(--star-color) , 534px 340px var(--star-color) , 1590px 284px var(--star-color) , 1464px 528px var(--star-color) , 734px 1718px var(--star-color) , 1929px 1683px var(--star-color) , 656px 480px var(--star-color) , 833px 705px var(--star-color) , 1567px 109px var(--star-color) , 1055px 330px var(--star-color) , 1943px 1367px var(--star-color) , 1935px 1512px var(--star-color) , 355px 1024px var(--star-color) , 1894px 218px var(--star-color) , 1703px 1772px var(--star-color) , 781px 1394px var(--star-color) , 367px 42px var(--star-color) , 100px 690px var(--star-color) , 1831px 458px var(--star-color) , 1884px 1878px var(--star-color) , 814px 1013px var(--star-color);
}

#stars3 {
  z-index: -1000;
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow: 1994px 1692px var(--star-color) , 961px 1928px var(--star-color) , 819px 1320px var(--star-color) , 1899px 52px var(--star-color) , 28px 1937px var(--star-color) , 157px 88px var(--star-color) , 860px 1909px var(--star-color) , 720px 427px var(--star-color) , 1319px 1469px var(--star-color) , 677px 960px var(--star-color) , 1265px 1181px var(--star-color) , 1176px 1361px var(--star-color) , 1957px 753px var(--star-color) , 1674px 1355px var(--star-color) , 929px 1206px var(--star-color) , 1038px 898px var(--star-color) , 1229px 365px var(--star-color) , 1085px 51px var(--star-color) , 851px 650px var(--star-color) , 385px 21px var(--star-color) , 41px 1153px var(--star-color) , 718px 70px var(--star-color) , 1321px 579px var(--star-color) , 497px 1458px var(--star-color) , 1981px 813px var(--star-color) , 776px 1187px var(--star-color) , 1345px 31px var(--star-color) , 1571px 400px var(--star-color) , 339px 587px var(--star-color) , 146px 750px var(--star-color) , 64px 61px var(--star-color) , 307px 981px var(--star-color) , 388px 849px var(--star-color) , 1398px 936px var(--star-color) , 522px 765px var(--star-color) , 1146px 350px var(--star-color) , 19px 206px var(--star-color) , 1767px 319px var(--star-color) , 1203px 425px var(--star-color) , 1917px 1018px var(--star-color) , 91px 1401px var(--star-color) , 898px 697px var(--star-color) , 1712px 1121px var(--star-color) , 633px 1119px var(--star-color) , 137px 1266px var(--star-color) , 1006px 931px var(--star-color) , 1644px 1804px var(--star-color) , 1596px 1057px var(--star-color) , 1298px 543px var(--star-color) , 1505px 996px var(--star-color) , 1972px 1383px var(--star-color) , 1210px 1497px var(--star-color) , 804px 1840px var(--star-color) , 913px 1047px var(--star-color) , 187px 1824px var(--star-color) , 1564px 1994px var(--star-color) , 557px 1737px var(--star-color) , 508px 1609px var(--star-color) , 1259px 1911px var(--star-color) , 1294px 1381px var(--star-color) , 1845px 1843px var(--star-color) , 667px 1497px var(--star-color) , 1046px 945px var(--star-color) , 937px 1889px var(--star-color) , 982px 1806px var(--star-color) , 1293px 671px var(--star-color) , 668px 904px var(--star-color) , 358px 1971px var(--star-color) , 133px 766px var(--star-color) , 1152px 1573px var(--star-color) , 318px 694px var(--star-color) , 578px 1184px var(--star-color) , 1620px 1701px var(--star-color) , 1359px 354px var(--star-color) , 1807px 1367px var(--star-color) , 458px 911px var(--star-color) , 1387px 806px var(--star-color) , 523px 81px var(--star-color) , 1243px 341px var(--star-color) , 906px 1730px var(--star-color) , 1629px 474px var(--star-color) , 1690px 419px var(--star-color) , 847px 808px var(--star-color) , 528px 1627px var(--star-color) , 480px 718px var(--star-color) , 537px 593px var(--star-color) , 1432px 1333px var(--star-color) , 200px 1228px var(--star-color) , 1800px 1375px var(--star-color) , 725px 1231px var(--star-color) , 1749px 1432px var(--star-color) , 1948px 303px var(--star-color) , 1889px 252px var(--star-color) , 1114px 1400px var(--star-color) , 759px 646px var(--star-color) , 222px 571px var(--star-color) , 1908px 1401px var(--star-color) , 1856px 1204px var(--star-color) , 338px 1645px var(--star-color) , 1528px 1050px var(--star-color);
  animation: animStar 250s linear infinite;
}
#stars3:after {
  z-index: -1000;
  content: " ";
  position: absolute;
  top: 1000px;
  background: transparent;
  box-shadow: 1994px 1692px var(--star-color) , 961px 1928px var(--star-color) , 819px 1320px var(--star-color) , 1899px 52px var(--star-color) , 28px 1937px var(--star-color) , 157px 88px var(--star-color) , 860px 1909px var(--star-color) , 720px 427px var(--star-color) , 1319px 1469px var(--star-color) , 677px 960px var(--star-color) , 1265px 1181px var(--star-color) , 1176px 1361px var(--star-color) , 1957px 753px var(--star-color) , 1674px 1355px var(--star-color) , 929px 1206px var(--star-color) , 1038px 898px var(--star-color) , 1229px 365px var(--star-color) , 1085px 51px var(--star-color) , 851px 650px var(--star-color) , 385px 21px var(--star-color) , 41px 1153px var(--star-color) , 718px 70px var(--star-color) , 1321px 579px var(--star-color) , 497px 1458px var(--star-color) , 1981px 813px var(--star-color) , 776px 1187px var(--star-color) , 1345px 31px var(--star-color) , 1571px 400px var(--star-color) , 339px 587px var(--star-color) , 146px 750px var(--star-color) , 64px 61px var(--star-color) , 307px 981px var(--star-color) , 388px 849px var(--star-color) , 1398px 936px var(--star-color) , 522px 765px var(--star-color) , 1146px 350px var(--star-color) , 19px 206px var(--star-color) , 1767px 319px var(--star-color) , 1203px 425px var(--star-color) , 1917px 1018px var(--star-color) , 91px 1401px var(--star-color) , 898px 697px var(--star-color) , 1712px 1121px var(--star-color) , 633px 1119px var(--star-color) , 137px 1266px var(--star-color) , 1006px 931px var(--star-color) , 1644px 1804px var(--star-color) , 1596px 1057px var(--star-color) , 1298px 543px var(--star-color) , 1505px 996px var(--star-color) , 1972px 1383px var(--star-color) , 1210px 1497px var(--star-color) , 804px 1840px var(--star-color) , 913px 1047px var(--star-color) , 187px 1824px var(--star-color) , 1564px 1994px var(--star-color) , 557px 1737px var(--star-color) , 508px 1609px var(--star-color) , 1259px 1911px var(--star-color) , 1294px 1381px var(--star-color) , 1845px 1843px var(--star-color) , 667px 1497px var(--star-color) , 1046px 945px var(--star-color) , 937px 1889px var(--star-color) , 982px 1806px var(--star-color) , 1293px 671px var(--star-color) , 668px 904px var(--star-color) , 358px 1971px var(--star-color) , 133px 766px var(--star-color) , 1152px 1573px var(--star-color) , 318px 694px var(--star-color) , 578px 1184px var(--star-color) , 1620px 1701px var(--star-color) , 1359px 354px var(--star-color) , 1807px 1367px var(--star-color) , 458px 911px var(--star-color) , 1387px 806px var(--star-color) , 523px 81px var(--star-color) , 1243px 341px var(--star-color) , 906px 1730px var(--star-color) , 1629px 474px var(--star-color) , 1690px 419px var(--star-color) , 847px 808px var(--star-color) , 528px 1627px var(--star-color) , 480px 718px var(--star-color) , 537px 593px var(--star-color) , 1432px 1333px var(--star-color) , 200px 1228px var(--star-color) , 1800px 1375px var(--star-color) , 725px 1231px var(--star-color) , 1749px 1432px var(--star-color) , 1948px 303px var(--star-color) , 1889px 252px var(--star-color) , 1114px 1400px var(--star-color) , 759px 646px var(--star-color) , 222px 571px var(--star-color) , 1908px 1401px var(--star-color) , 1856px 1204px var(--star-color) , 338px 1645px var(--star-color) , 1528px 1050px var(--star-color);
}

@keyframes animStar {
  from {
    transform: translateY(-2000px);
  }
  to {
    transform: translateY(-4000px);
  }
}

#code_scaffold {
  position: fixed;
  border-radius: 24px;
  padding: 16px 24px 16px 24px;
  bottom: 16px;
  left: 16px;
  background-color: #000000dd;
  z-index: 10000;
}